*.iml
.gradle
*.apk
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/convention/build
.idea
.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
/features/chat/build
